// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$primary-green: #70A69D;
$dark-green: #8B9494;
$light-gray: #F3F3F3;
$green-bg: #E8EAE8;
$strong-green-bg: #D3D5D2;
$text-color: #333333;
